/* ==UserStyle==
@name			SweClockers Dark
@namespace		https://github.com/Soitora
@version		3.0.0-alpha.3
@description	A modern dark theme for SweClockers
@author			Soitora <soitora@outlook.com> (https://soitora.com)
@homepageURL	https://github.com/Soitora/SweClockers-Dark
@supportURL		https://github.com/Soitora/SweClockers-Dark/issues
@updateURL		https://raw.githubusercontent.com/Soitora/SweClockers-Dark/master/sweclockers-dark.user.styl
@license		MPL-2.0
@preprocessor	stylus
@var	color	colorTheme "Orange theme color" #F47447
@var	color	colorThemeRed "Red theme color" #EF4A4B
@var	color	colorThemeText "Text on Orange theme color" #FFFFFF
@var	color	colorBackgroundPrimary "Primary background color" #1A1A1D
@var	color	colorBackgroundSecondary "Secondary background color" #1E1E21
@var	color	colorTextPrimary "Primary text color" #C8C8C8
@var	color	colorTextSecondary "Secondary text color" #AAAAAA
@var	color	colorBorder "Border color" #121215
@var	color	colorHighlight "Highlight color" #232326
@var	color	colorFields "Fields color" #131315
@var	text	defaultBorder "Default border" 1px solid colorBorder
@var	text	defaultBoxShadow "Default box-shadow" 0 0 0 1px colorBorder
@var	text	defaultBorderRadius "Border radius" 0.6rem
@var	text	filterGrey "Grey Filter" sepia(0) saturate(0.29) brightness(67%) contrast(184%) hue-rotate(179deg) invert(8%)
@var	text	filterTheme "Theme Filter" brightness(0) saturate(100%) invert(70%) sepia(63%) saturate(4179%) hue-rotate(330deg) brightness(98%) contrast(96%) !important
@var	text	hoverOpacity "Hover opacity" 0.75
@var	text	hoverTextDecoration "Hover text decoration" none
==/UserStyle== */
@-moz-document domain("sweclockers.com")
	::-webkit-scrollbar
		width 14px
		height 12px

	::-webkit-scrollbar-thumb
		background-color colorTheme
		border-left 2px solid colorBackgroundPrimary
		border-right 2px solid colorBackgroundPrimary

	::-webkit-scrollbar-track
		background-color colorBackgroundPrimary

	::-webkit-scrollbar-corner
		background-color colorBackgroundPrimary

	body
		// Site background
		background-color colorBackgroundPrimary

	.top
		.header
			// Above header
			background-color colorBackgroundPrimary
			color colorTextSecondary
			// Header main-menu
			.mainMenu
				.rborder
					border-bottom defaultBorder
				.menu
					li
						border 1px solid black
						&.menuItem
							background-color colorFields
							a
								color colorTextSecondary
								&:hover
									color colorTextPrimary
							&.isSelected
								background-color colorBackgroundSecondary
								border-bottom 0
								a
									color colorTextPrimary
							&:hover
								background-color colorHighlight
			// Header sub-menu
			.subMenu
				.rborder
					border-bottom defaultBorder
				.menu
					li
						border 1px solid black
						&.menuItem
							background-color colorFields
							a
								color colorTextSecondary
								&:hover
									color colorTextPrimary
							&:hover
								background-color colorHighlight
							&.isSelected
								background-color colorBackgroundPrimary
								border-bottom 0
								a
									color colorTextPrimary
			// Site header
			.main
				background-color colorBackgroundSecondary
				border-bottom defaultBorder
				border-right defaultBorder
				.logo
					&:hover
						opacity hoverOpacity
						text-decoration hoverTextDecoration
				// Header news ticker
				.ticker
					.latest
						color colorTextPrimary
					.current
						.date
							color colorTheme
						.title
							color colorTextSecondary
						&:hover
							.date
							.title
								opacity hoverOpacity
								text-decoration hoverTextDecoration
				// Header search
				.ninjaSearch
					border-left defaultBorder
					h5
						color colorTextSecondary
					.searchField .fieldWrap
						background-color colorFields
						border defaultBorder
						border-radius 0.25rem
						input
							color colorTextSecondary
							&:focus
								color colorTextPrimary
				// Header search result
				.ninjaSearchResult
					color colorTextSecondary
					h6
						color colorTextPrimary
					.showMore
						color colorTheme
						text-decoration none
						&:hover
							opacity hoverOpacity
							text-decoration hoverTextDecoration
					.resultList
						a
							color colorTextSecondary
							&:hover
								opacity hoverOpacity
								text-decoration hoverTextDecoration
						.icon
							filter filterTheme
							-webkit-filter filterTheme
					.externalSearch a
						color colorTheme
						&:hover
							opacity hoverOpacity
							text-decoration hoverTextDecoration
				// Header profile
				.profile
					border-left defaultBorder
					h5 a
						color colorTextSecondary
						&:hover
							text-decoration hoverTextDecoration
							opacity hoverOpacity
					.options
						color colorTextSecondary
						.icon
							filter filterGrey
							-webkit-filter filterGrey
						a.label
							&:hover span
								opacity hoverOpacity
								text-decoration hoverTextDecoration
						.signout
							button
								&:hover
									color colorThemeRed
									text-decoration hoverTextDecoration
									opacity hoverOpacity
				// Header sign-in
				.signin
					border-left defaultBorder
					h5
						color colorTextSecondary
					.actions
						.button
							border defaultBorder
							color colorTextSecondary
							background-color colorFields
							&:hover
								background-color colorHighlight
		// News carousel
		.carousel
			a
				color colorTextPrimary
			.slide
				&:hover h3 a
					opacity hoverOpacity
					text-decoration hoverTextDecoration
				.inner
					border-top-right-radius 0
			.nav
				&.left .handle
				&.right .handle
					filter filterTheme
					&:hover
						opacity hoverOpacity
			.bg-orange
				background-color transparentify(colorBackgroundSecondary, 0.5) !important
				border-bottom-left-radius defaultBorderRadius
				&:hover
					background-color colorHighlight !important
		// Main container
		.mainContent
			border defaultBorder
			background-color colorBackgroundSecondary
			// News list
			.newsList
				.pubItem
					border-bottom defaultBorder
				.itemBanner
					// Sponsored news article
					.sponsoredArticle
						color colorTextPrimary
						font-weight 700
						font-size 1.2em
						background-color transparent
					.inner
						border-radius defaultBorderRadius
						box-shadow defaultBoxShadow
						-webkit-box-shadow defaultBoxShadow
						-moz-box-shadow defaultBoxShadow
					// News image
					img
						border-radius defaultBorderRadius
						&:hover
							opacity hoverOpacity
							text-decoration hoverTextDecoration
				.itemBody
					h2 a
						color colorTheme
						&:hover
							opacity hoverOpacity
							text-decoration hoverTextDecoration
					.itemMeta
						.category a
							color colorTheme
							&:hover
								opacity hoverOpacity
								text-decoration hoverTextDecoration
						.date
							color colorTextPrimary
					.itemText
						color colorTextSecondary
						.bbLink
							color colorTheme
							text-decoration none
							&:hover
								opacity hoverOpacity
								text-decoration hoverTextDecoration
					// News comments bubble
					.commentsBubble
						border-top defaultBorder
						border-left defaultBorder
						border-bottom defaultBorder
						background-color colorFields
						color colorTextPrimary
						&.isHot
							color colorThemeText
							background-color colorTheme
						&:hover
							opacity hoverOpacity
							text-decoration hoverTextDecoration
				// News list Ad
				.adModule
					border-bottom defaultBorder
					iframe
						background-color colorFields
						border-radius defaultBorderRadius
						box-shadow defaultBoxShadow
						-webkit-box-shadow defaultBoxShadow
						-moz-box-shadow defaultBoxShadow
						&:hover
							opacity hoverOpacity
							text-decoration hoverTextDecoration
			// Read more in archive
			.read-more-archive
				color colorTheme
				text-decoration none
				&:hover
					opacity hoverOpacity
					text-decoration hoverTextDecoration
		// News list sidebar
		.sideBox
			&.videoPush
				h5
					border-bottom defaultBorder
					a
						color colorTextPrimary
						&:hover
							opacity hoverOpacity
							text-decoration hoverTextDecoration
				img
					box-shadow defaultBoxShadow
					-webkit-box-shadow defaultBoxShadow
					-moz-box-shadow defaultBoxShadow
					&:hover
						opacity hoverOpacity
						text-decoration hoverTextDecoration
				h3 a
					color colorTextSecondary
					&:hover
						opacity hoverOpacity
						text-decoration hoverTextDecoration
			&.popularGalleries
				h5
					border-bottom defaultBorder
					a
						color colorTextPrimary
						&:hover
							opacity hoverOpacity
							text-decoration hoverTextDecoration
				.image
					box-shadow defaultBoxShadow
					-webkit-box-shadow defaultBoxShadow
					-moz-box-shadow defaultBoxShadow
					&:hover
						opacity hoverOpacity
						text-decoration hoverTextDecoration
				h3 a
					color colorTheme
					&:hover
						opacity hoverOpacity
						text-decoration hoverTextDecoration
				.cat
				.author
				.rating
					color colorTextSecondary
					a
						&:hover
							opacity hoverOpacity
							text-decoration hoverTextDecoration
		// Recent Threads widget
		#wdgtSideRecentThreads
			box-shadow defaultBoxShadow
			-webkit-box-shadow defaultBoxShadow
			-moz-box-shadow defaultBoxShadow
			background-color colorBackgroundSecondary
			.plHead
				h5 a
					color colorTheme
					&:hover
						opacity hoverOpacity
						text-decoration hoverTextDecoration
			.plBody
				.plItemList
					.plLabel
						.plLabelIcon
							filter filterTheme
							-webkit-filter filterTheme
						.plLabelText
							color colorTextSecondary
						&:hover
							.plLabelHover
								opacity hoverOpacity
								text-decoration hoverTextDecoration
					.plComments
						.plLabelText
							color colorTheme
						&:hover
							.plIcon
							.plLabelHover
								opacity hoverOpacity
								text-decoration hoverTextDecoration
				.button
					box-shadow defaultBoxShadow
					-webkit-box-shadow defaultBoxShadow
					-moz-box-shadow defaultBoxShadow
					background-color colorFields !important
					color colorTextSecondary
					&:hover
						background-color colorHighlight !important
		// Recent Market Entries widget
		#wdgtSideRecentClassifieds
			box-shadow defaultBoxShadow
			-webkit-box-shadow defaultBoxShadow
			-moz-box-shadow defaultBoxShadow
			background-color colorBackgroundSecondary
			.plHead
				h5 a
					color colorTheme
					&:hover
						opacity hoverOpacity
						text-decoration hoverTextDecoration
			.plBody
				.plItemList
					.plLabel
						.plLabelIcon
							filter filterTheme
							-webkit-filter filterTheme
						.plLabelText
							color colorTextSecondary
						&:hover
							.plLabelHover
								opacity hoverOpacity
								text-decoration hoverTextDecoration
		// Geek Shop widget
		#wdgtSideGeeksShop
			border defaultBorder
			background-color colorBackgroundSecondary
			h5
				color colorTheme
			a
				&:hover
					.productName
					.productPrice
						opacity hoverOpacity
						text-decoration hoverTextDecoration
			.productWrapper
				.productImage
					box-shadow defaultBoxShadow
					-webkit-box-shadow defaultBoxShadow
					-moz-box-shadow defaultBoxShadow
				.productName
					color colorTextSecondary
				.productPrice
					color colorTextPrimary
				.buyButton
					background-color colorTheme
					box-shadow defaultBoxShadow
					-webkit-box-shadow defaultBoxShadow
					-moz-box-shadow defaultBoxShadow
					&:hover
						background-color colorHighlight
		// Popular Products widget
		#wdgtSidePopularProducts
			background-color colorBackgroundSecondary
			box-shadow defaultBoxShadow
			-webkit-box-shadow defaultBoxShadow
			-moz-box-shadow defaultBoxShadow
			h5 a
				color colorTheme
				&:hover
					opacity hoverOpacity
					text-decoration hoverTextDecoration
			.descr
				color colorTextSecondary
			.ppProducts
				a
					&:hover
						opacity hoverOpacity
						.ppTitle
						.ppPrice
							text-decoration hoverTextDecoration
				.ppTitle
					color colorTextPrimary
				.ppPrice
					color colorTextSecondary
		// Recent Reviews widget
		#wdgtSideRecentReviews
			box-shadow defaultBoxShadow
			-webkit-box-shadow defaultBoxShadow
			-moz-box-shadow defaultBoxShadow
			background-color colorBackgroundSecondary
			.plHead
				h5 a
					color colorTheme
					&:hover
						opacity hoverOpacity
						text-decoration hoverTextDecoration
				p
					color colorTextSecondary
					a
						color colorTextPrikmary
						&:hover
							opacity hoverOpacity
							text-decoration hoverTextDecoration
			.plBody
				.plItemList
					.plLabel
						.plLabelIcon
							filter filterTheme
							-webkit-filter filterTheme
						.plLabelText
							color colorTextSecondary
						&:hover
							.plLabelHover
								opacity hoverOpacity
								text-decoration hoverTextDecoration
					.plComments
						.plLabelText
							color colorTheme
						&:hover
							.plIcon
							.plLabelHover
								opacity hoverOpacity
								text-decoration hoverTextDecoration
				.plNyhetstips
					.plLabel
						color colorTextPrimary
						.plLabelIcon
							filter filterTheme
							-webkit-filter filterTheme
						&:hover
							opacity hoverOpacity
							.plLabelHover
								text-decoration hoverTextDecoration
		// External Feeds widget
		#wdgtSideExternalFeeds
			.plHead
				h5
					color colorTheme
				p
					color colorTextSecondary
			.plBody
				h6
					color colorTextPrimary
				.plItemList
					.plLabel
						.plLabelIcon
							filter filterTheme
							-webkit-filter filterTheme
						.plLabelText
							color colorTextSecondary
						.plLabelDate
							color colorTextPrimary
						&:hover
							.plLabelHover
							.plLabelDate
								opacity hoverOpacity
								text-decoration hoverTextDecoration
		// Recent News widget
		#wdgtMainRecentNews
			box-shadow defaultBoxShadow
			-webkit-box-shadow defaultBoxShadow
			-moz-box-shadow defaultBoxShadow
			background-color colorBackgroundSecondary
			.mwHead
				h5 a
					color colorTheme
					&:hover
						opacity hoverOpacity
						text-decoration hoverTextDecoration
			.mwBody
				h6
					color colorTextPrimary
				.mwItemList
					.mwLabel
						.mwLabelIcon
							filter filterTheme
							-webkit-filter filterTheme
						.mwLabelDate
							color colorTextPrimary
						.mwLabelText
							color colorTextSecondary
						&:hover
							.mwLabelDate
							.mwLabelHover
								opacity hoverOpacity
								text-decoration hoverTextDecoration
					.mwComments
						.mwLabelText
							color colorTheme
						&:hover
							.mwIcon
							.mwLabelHover
								opacity hoverOpacity
								text-decoration hoverTextDecoration
		// Recent Threads widget
		#wdgtMainRecentThreads
			box-shadow defaultBoxShadow
			-webkit-box-shadow defaultBoxShadow
			-moz-box-shadow defaultBoxShadow
			background-color colorBackgroundSecondary
			.mwHead
				h5 a
					color colorTheme
					&:hover
						opacity hoverOpacity
						text-decoration hoverTextDecoration
			.mwBody
				h6
					color colorTextPrimary
				.mwItemList
					.mwLabel
						.mwLabelIcon
							filter filterTheme
							-webkit-filter filterTheme
						.mwLabelText
							color colorTextSecondary
						&:hover
							.mwLabelHover
								opacity hoverOpacity
								text-decoration hoverTextDecoration
		// Sign-in Form
		#signinForm
			fieldset
				border defaultBorder
				legend
					color colorTextPrimary
				input
					color colorTextSecondary
					background-color colorFields
					border defaultBorder
					&:focus
						color colorTextPrimary
				.tcLabel
					color colorTextPrimary
					&::after
						color colorThemeRed
				.tcHint
					color colorTextSecondary
				button
					background-color colorFields
					border defaultBorder
					color colorTextSecondary
					&:hover
						background-color colorHighlight
						color colorTextPrimary
				.checkboxItem
					color colorTextPrimary
		// Register Form
		#registerForm
			input
				color colorTextSecondary
				background-color colorFields
				border defaultBorder
			.tcLabel
				color colorTextPrimary
				&::after
					color colorThemeRed
			.tcHint
				color colorTextSecondary
			hr
				border defaultBorder
			.termsAndConditionsTitle
				color colorTextPrimary
			.infoTextWindow
				border defaultBorder
				background-color colorFields
				.rulesList
					h2
						color colorTextPrimary
					h4
						color colorTextPrimary
					p
						color colorTextSecondary
					a
						color colorTheme
						&:hover
							opacity hoverOpacity
							text-decoration hoverTextDecoration
			p
				color colorTextSecondary
				a
					color colorTheme
					&:hover
						opacity hoverOpacity
						text-decoration hoverTextDecoration
			.termsAndConditions
				color colorTextPrimary
			button
				background-color colorFields
				border defaultBorder
				color colorTextSecondary
				&:hover
					background-color colorHighlight
					color colorTextPrimary
		// Page Header
		.whiteHeader
			h1
				color colorTextPrimary
			.descr
				color colorTextSecondary
		// Information Text
		.infoText
			h1
				color colorTextPrimary
			p
				color colorTextSecondary
			a
				color colorTheme
				&:hover
					opacity hoverOpacity
					text-decoration hoverTextDecoration
		// Widget Ad
		.adInsider
			iframe
				background-color colorFields
				border-radius defaultBorderRadius
				box-shadow defaultBoxShadow
				-webkit-box-shadow defaultBoxShadow
				-moz-box-shadow defaultBoxShadow
				&:hover
					opacity hoverOpacity
					text-decoration hoverTextDecoration
		// Outside Ad
		.adOutsider
			iframe
				background-color colorFields
				border-radius defaultBorderRadius
				box-shadow defaultBoxShadow
				-webkit-box-shadow defaultBoxShadow
				-moz-box-shadow defaultBoxShadow
				&:hover
					opacity hoverOpacity
					text-decoration hoverTextDecoration
		// Header Ad
		.adPanorama
			iframe
				background-color colorFields
				border-radius defaultBorderRadius
				box-shadow defaultBoxShadow
				-webkit-box-shadow defaultBoxShadow
				-moz-box-shadow defaultBoxShadow
				&:hover
					opacity hoverOpacity
					text-decoration hoverTextDecoration

	.bottom
		// Footer
		.footer
			border-top defaultBorder
			.top
				border-top defaultBorder
				background-color colorBackgroundSecondary
				color colorTextSecondary
				.block
					h6
						color colorTextPrimary
					p
						color colorTextSecondary
					a
						color colorTheme
						&::before
							filter filterTheme
							-webkit-filter filterTheme
						&:hover
							opacity hoverOpacity
							text-decoration hoverTextDecoration
					.rssFeeds
						a
							&:hover .label
								opacity hoverOpacity
								text-decoration hoverTextDecoration
					&:not(:last-child)
						border-right defaultBorder
			.bottom
				background-color colorBackgroundSecondary
				color colorTextSecondary
				a
					color colorTextPrimary
					&:hover
						opacity hoverOpacity
						text-decoration hoverTextDecoration
				.bahnhof-logo
					color colorTextPrimary
					&:hover
						span
							opacity hoverOpacity
							text-decoration hoverTextDecoration !important
@-moz-document domain("m.sweclockers.com")
	.wrapinner
		background-color colorBackgroundPrimary
		color colorTextSecondary
